*{
  margin: 0;
  padding: 0;
}
body{
  height: 100vh;
  background-image: linear-gradient(#F5F1E8, #654321);
  font-family: 'poppins';
}
body::before {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-image: url('assets/images/bamboo.jpg');
  background-size: 300px;
  opacity: 0.2;
  z-index: -1;
}